@namespace Blazor.Lexical

@* Bulleted / numbered list group. *@
<div class="blazor-lexical__toolbar-group">
    <LexicalListButton ListType="LexicalBlockType.BulletList" />
    <LexicalListButton ListType="LexicalBlockType.NumberList" />
</div>
