@namespace Blazor.Lexical

@* Standard inline-format group: bold, italic, underline. *@
<div class="blazor-lexical__toolbar-group">
    <LexicalFormatButton Format="LexicalTextFormat.Bold" />
    <LexicalFormatButton Format="LexicalTextFormat.Italic" />
    <LexicalFormatButton Format="LexicalTextFormat.Underline" />
</div>
